# HW6_Assignment1_cd2682
# Chang Du
# Exercise with pandas

In [51]:
import pandas as pd
import os

Read what the PLUTO data is [here](https://www.wired.com/2013/08/nyc-pluto-data-map-party/)

Find the PLUTO dataset online, find the cvs file data (not the shape file), it should be about 46M

Download it as a zip file, unpack it in PUIDATAEach borough will be in a different file. The goal is to find land plot categories of which there is a higher number in Manhattan (MN) than in Brooklyn (BK)

Read in csv data as pandas dataframes (with pd.read_csv() )

In a Pandas DataFrame each column is a _series_ (a pandas datatype) to manipulate the data here you will mostly use methods (functions that are defined for a specific datatype and invoked with the _object.method()_ syntax) of the DataFrames (e.g. df.groupby() ) or of the series therein (e.g. series.astype() )

In [2]:
!wget https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip

--2018-10-16 19:58:02--  https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip
Resolving www1.nyc.gov (www1.nyc.gov)... 104.112.26.93, 2600:1408:10:186::1500, 2600:1408:10:180::1500
Connecting to www1.nyc.gov (www1.nyc.gov)|104.112.26.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48263311 (46M) [application/zip]
Saving to: ‘nyc_pluto_18v1.zip’

nyc_pluto_18v1.zip  100%[===================>]  46.03M  43.6MB/s    in 1.1s

2018-10-16 19:58:03 (43.6 MB/s) - ‘nyc_pluto_18v1.zip’ saved [48263311/48263311]

In [25]:
!unzip nyc_pluto_18v1.zip

Archive:  nyc_pluto_18v1.zip
  inflating: PLUTO_for_WEB/BK_18v1.csv
  inflating: PLUTO_for_WEB/BX_18v1.csv
  inflating: PLUTO_for_WEB/MN_18v1.csv
  inflating: PLUTO_for_WEB/PLUTODD18v1.pdf
  inflating: PLUTO_for_WEB/PlutoReadme18v1.pdf
  inflating: PLUTO_for_WEB/QN_18v1.csv
  inflating: PLUTO_for_WEB/SI_18v1.csv

In [26]:
!rm -f nyc_pluto_18v1.zip

In [27]:
if os.getenv ('PUI2018') is None:
    print ("Must set env variable PUI2018")
if os.getenv ('PUIDATA') is None:
    print ("Must set env variable PUI2018")

Must set env variable PUI2018

In [32]:
PUIdata = os.getenv('PUIDATA')
print (PUIdata)

/nfshome/cd2682/PUIdata

In [34]:
os.environ["PUIDATA"] = "%s/PUIdata"%os.getenv("HOME")
print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/cd2682/PUIdata

In [35]:
!mv PLUTO_for_WEB/BK_18v1.csv $PUIDATA
!mv PLUTO_for_WEB/MN_18v1.csv $PUIDATA

mv: cannot stat 'PLUTO_for_WEB/BK_18v1.csv': No such file or directory
mv: cannot stat 'PLUTO_for_WEB/MN_18v1.csv': No such file or directory

In [36]:
!ls $PUIDATA

201501-citibike-tripdata.csv  MN_18v1.csv
201506-citibike-tripdata.csv  Recycling_Diversion_and_Capture_Rates.csv
BK_18v1.csv		      times.txt

# read in te Manhattan and Brooklyn data in 2 separate dataframes w pandas

## show the first 10 lines of each df

In [52]:
# show manhattan 10 rows
MN = pd.read_csv(PUIdata + "/MN_18v1.csv")
MN.head(10)

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [53]:
# show brooklyn 10 rows
BK = pd.read_csv(PUIdata + "/BK_18v1.csv")
BK.head(10)

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

## display all columns in each file

In [54]:
# show bk
BK.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [55]:
# show mn
MN.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
      dtype='object')

# drop all columns but ZipCode and LandUse

In [56]:
# drop columns here. Use the .drop method of pandas dataframes, i.e. something like bk.drop()... 
# make sure you drop "in place" and that you drop along the right axis - i.e. the columns. 
# you can use bk.drop? to the help with this function 
MN = MN.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],axis=1)
MN.head()

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0

In [57]:
# drop columns here...
BK = BK.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],axis=1)
BK.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

# use groupby to count the building per LandUse code

In [60]:
# group Manhattan by land use. Make sure you understand how to use the groupby() method:
# this method returns a group object. those objects have methods and some of these methods return dataframes. 
# What do you want to do? you want to count all objects per each land use type. 
# So you want to use .groupby() to group by LandUse and then .count() to get the number of element per LandUse
# Other methods include .mean() to get the mean of a group, .std(), 
# and a generic method .apply() to which you can pass any function that operates on a column.
# All these methods return dataframes
# (hint: use also reset_index) for each df
mngrouped = MN.groupby('LandUse').count().reset_index()
mngrouped

    LandUse  ZipCode
0       1.0     4019
1       2.0    16246
2       3.0     4881
3       4.0     7238
4       5.0     4465
5       6.0      726
6       7.0      386
7       8.0     2456
8       9.0      434
9      10.0      679
10     11.0     1199

In [61]:
# group BK by land use
bkgrouped = BK.groupby('LandUse').count().reset_index()
bkgrouped

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

# convert the landuse to integer

In [64]:
# convert LandUse to int using the .astype() method of the series
bkgrouped['LandUse'] = bkgrouped['LandUse'].astype('int')
bkgrouped.head()

   LandUse  ZipCode
0        1   156271
1        2    66358
2        3     3437
3        4    22515
4        5     5743

In [65]:
mngrouped['LandUse'] = mngrouped['LandUse'].astype('int')
mngrouped.head()

   LandUse  ZipCode
0        1     4019
1        2    16246
2        3     4881
3        4     7238
4        5     4465

# merge the dataframes on land use

In [99]:
# merge the dataframes on LandUse. You can use the pandas function merge ( _pd.merge)
# left: reserve the left df's data
# right: reserve right
# outer: reserve all
both = mngrouped.merge(bkgrouped,left_on = 'LandUse',right_on = 'LandUse',how='outer')
both = both.reset_index()
both.columns

Index(['index', 'LandUse', 'ZipCode_x', 'ZipCode_y'], dtype='object')

# rename things so that you have descriptive names

## rename the columns with descriptive names.

In [100]:
# Use the df.rename() method (hint: it takes a dictionary)
# now you can just call "both" instead of "both.head()" since the file should only have 11 columns
both = both.rename(columns={'ZipCode_x':'mn', 'ZipCode_y':'bk'})
both

    index  LandUse     mn      bk
0       0        1   4019  156271
1       1        2  16246   66358
2       2        3   4881    3437
3       3        4   7238   22515
4       4        5   4465    5743
5       5        6    726    4434
6       6        7    386    1040
7       7        8   2456    4330
8       8        9    434     872
9       9       10    679    4229
10     10       11   1199    6298

## find online the LandUse data dictionary and replace code w the verbose description of it

In [101]:
# set up Land Use values to descriptive tag
# https://www1.nyc.gov/assets/planning/download/pdf/data-maps/open-data/pluto_datadictionary.pdf?v=18v1
'''
CODES DECODES
01 One &Two Family Buildings
02 Multi-Family Walk-Up Buildings
03 Multi-Family Elevator Buildings
04 Mixed Residential & Commercial Buildings
05 Commercial & Office Buildings
06 Industrial & Manufacturing
07 Transportation & Utility
08 Public Facilities & Institutions
09 Open Space & Outdoor Recreation
10 Parking Facilities
11 Vacant Land
'''

'\nCODES DECODES\n01 One &Two Family Buildings\n02 Multi-Family Walk-Up Buildings\n03 Multi-Family Elevator Buildings\n04 Mixed Residential & Commercial Buildings\n05 Commercial & Office Buildings\n06 Industrial & Manufacturing\n07 Transportation & Utility\n08 Public Facilities & Institutions\n09 Open Space & Outdoor Recreation\n10 Parking Facilities\n11 Vacant Land\n'

In [102]:
both['LandUse'][0]="One & Two Family Buildings"
both['LandUse'][1]="Multi-Family Walk-Up Buildings"
both['LandUse'][2]="Multi-Family Elevator Buildings"
both['LandUse'][3]="Mixed Residential & Commercial Buildings"
both['LandUse'][4]="Commercial & Office Buildings"
both['LandUse'][5]="Industrial & Manufacturing Buildings"
both['LandUse'][6]="Transportation & Utility"
both['LandUse'][7]="Public Facilities & Institutions"
both['LandUse'][8]="Open Space & Outdoor Recreation"
both['LandUse'][9]="Parking Facilities"
both['LandUse'][10]="Vacant Land"
both

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    index                                   LandUse     mn      bk
0       0                One & Two Family Buildings   4019  156271
1       1            Multi-Family Walk-Up Buildings  16246   66358
2       2           Multi-Family Elevator Buildings   4881    3437
3       3  Mixed Residential & Commercial Buildings   7238   22515
4       4             Commercial & Office Buildings   4465    5743
5       5      Industrial & Manufacturing Buildings    726    4434
6       6                  Transportation & Utility    386    1040
7       7          Public Facilities & Institutions   2456    4330
8       8           Open Space & Outdoor Recreation    434     872
9       9                        Parking Facilities    679    4229
10     10                               Vacant Land   1199    6298

# create a feature (a column, a series) with the ratio of number of buildings in BK vs MN and find out in which LandUse class Manhattan has more buildings than BK

In [103]:
# calculate the ratio of BK to Man buildings per LandUse category
# create a new column
both['luratio'] = both.bk / both.mn
both

    index                                   LandUse     mn      bk    luratio
0       0                One & Two Family Buildings   4019  156271  38.883055
1       1            Multi-Family Walk-Up Buildings  16246   66358   4.084575
2       2           Multi-Family Elevator Buildings   4881    3437   0.704159
3       3  Mixed Residential & Commercial Buildings   7238   22515   3.110666
4       4             Commercial & Office Buildings   4465    5743   1.286226
5       5      Industrial & Manufacturing Buildings    726    4434   6.107438
6       6                  Transportation & Utility    386    1040   2.694301
7       7          Public Facilities & Institutions   2456    4330   1.763029
8       8           Open Space & Outdoor Recreation    434     872   2.009217
9       9                        Parking Facilities    679    4229   6.228277
10     10                               Vacant Land   1199    6298   5.252711

In [106]:
# defined function that returns True if the ratio is larger than 1, False otherwise. 
# Use the series.apply() method to apply that function to the luratio series you jusrt created
def judge_mn_bk(luratio):
    if luratio>1:
        return False
    else:
        return True
        
both['Manhattan wins'] = both['luratio'].apply(judge_mn_bk) 
both

,index,LandUse,mn,bk,luratio,Manhattan wins
0,0,One & Two Family Buildings,4019,156271,38.883055,False
1,1,Multi-Family Walk-Up Buildings,16246,66358,4.084575,False
2,2,Multi-Family Elevator Buildings,4881,3437,0.704159,True
3,3,Mixed Residential & Commercial Buildings,7238,22515,3.110666,False
4,4,Commercial & Office Buildings,4465,5743,1.286226,False
5,5,Industrial & Manufacturing Buildings,726,4434,6.107438,False
6,6,Transportation & Utility,386,1040,2.694301,False
7,7,Public Facilities & Institutions,2456,4330,1.763029,False
8,8,Open Space & Outdoor Recreation,434,872,2.009217,False
9,9,Parking Facilities,679,4229,6.228277,False
10,10,Vacant Land,1199,6298,5.252711,False

# comment on what you found out. Does it make sense?

### Only in one type of LandUse ( Multi-Family Elevator Buildings ), Manhattan wins, which means Manhattan has more Multi-Family Elevator Buildings than Brooklyn. It make sense because compared with One & Two Family Buildings and Multi-Family Walk-Up Buildings, Multi-Family Elevator Buildings can support more people to get up&down. Plus, it can support higher buildings' usage. Manhattan has more high buildings than Brooklyn, so it has more Multi-Family Elevator Buildings.