# PUI2018_HW4_Assignment3
## Written by Chang Du
- ### Use the Z test to understand if an implementation of an alternative bus route for bus line X8 improves circulation. 
- ### The Z test returns multiples of the standard deviation of a Normal distribution, so 1sigma corresponds to 68% inclusion, 2sigma 95%, 3sigma 99.7%

In [44]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
import os

%pylab inline

Populating the interactive namespace from numpy and matplotlib

- ## IDEA: 
### The new bus route improves the commute time of bus line X8.
- ## Null Hypothesis:
### The commute time with the new route is longer or as the same as it was before
- ## Alternative Hypothesis:
### The commute time with the new route is shorter than it was before
- ## _$H_0$_ :$T_{new}-T_{old} >= 0$
 ## _$H_1$_ :$T_{new}-T_{old} < 0$
- ## Significance Level:
### $\alpha=0.05$
- ## Hypothesis Testing method:
### Z-test:  _$Z$_=$\frac{\mu_{\mathrm{pop}}-\mu_{\mathrm{sample}}}{\sigma/\sqrt{N} \quad} $

In [2]:
!curl https://raw.githubusercontent.com/fedhere/PUI2018_fb55/master/Lab4_fb55/times.txt > times.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1179  100  1179    0     0  10244      0 --:--:-- --:--:-- --:--:-- 10252

In [3]:
print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/cd2682/PUIdata

In [4]:
os.environ["PUIDATA"] = "%s/PUIdata"%os.getenv("HOME")

print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/cd2682/PUIdata

In [5]:
!mv times.txt $PUIDATA

In [6]:
!ls $PUIDATA

Recycling_Diversion_and_Capture_Rates.csv  times.txt

In [17]:
times = pd.read_table("%s/times.txt"%os.getenv("PUIDATA"), names= ['time'])

In [39]:
times.head()

        time
0  31.622239
1  32.821376
2  30.229101
3  31.413766
4  39.010550

In [40]:
times.tail()

         time
95  26.197852
96  42.727410
97  33.731470
98  37.238591
99  36.339841

In [36]:
N = times.size
print (N)

100

In [41]:
mu_old = 36
sigma_old = 6
mu_new = times['time'].mean()
sigma_new = times['time'].std()
print (mu_new)
print (sigma_new)

34.4661616883
7.13728013375

In [43]:
z = (mu_old - mu_new)/(sigma_old/(N**0.5))
print (z)

2.55639718617

## z=2.56 > 2 which means the new mean(mu_new) is 2 sigmas further away from the old mean(mu_old). So we reject the Null Hypothesis.

## Conclusion: The commute time with the new route is shorter than it was before